.input {
  composes: accessibilityOutline from "./Focus.module.css";
  composes: border from "./Borders.module.css";
  composes: borderBox medium from "./Layout.module.css";
  composes: darkGray from "./Colors.module.css";
  composes: Text fontSize3 from "./Text.module.css";
  composes: fontWeightBold from "./Typography.module.css";
  composes: lightGrayBg from "./Colors.module.css";
  composes: xsCol12 from "./Column.module.css";
  appearance: none;
  border-radius: 4px;
  padding: 8px calc(16px + (2 * 8px)) 8px calc(16px + (2 * 16px));
}

.input::-ms-clear {
  display: none;
}

.input::placeholder {
  color: #8e8e8e;
}

.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
  appearance: none;
}

.input:focus {
  background-color: #fff;
}

.clear {
  composes: noBorder from "./Borders.module.css";
  composes: pointer from "./Cursor.module.css";
  composes: paddingX3 from "./boxWhitespace.module.css";
  composes: paddingY3 from "./boxWhitespace.module.css";
  composes: relative from "./Layout.module.css";
  background-color: transparent;
  outline: none;
}