.select {
  composes: accessibilityOutline from "./Focus.module.css";
  composes: Text fontSize3 from "./Text.module.css";
  composes: darkGray from "./Colors.module.css";
  composes: pointer from "./Cursor.module.css";
  composes: relative medium from "./Layout.module.css";
  composes: transparentBg from "./Colors.module.css";
  composes: xsCol12 from "./Column.module.css";
  appearance: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 0 35px 0 14px; /* right padding prevents it from running into arrow */
}

.select::-ms-expand {
  display: none;
}

.normal {
  border-color: #8e8e8e;
}

.errored {
  border-color: #e3780c;
}

.enabled {
  composes: darkGray from "./Colors.module.css";
  composes: whiteBg from "./Colors.module.css";
}

.disabled {
  composes: gray from "./Colors.module.css";
  composes: lightGrayBg from "./Colors.module.css";
}

